div.bid{
    width: 10px;
    height: 10px;
    border-radius: 80%;
    display: inline-block;
}

div.titleContainer{
    display: inline-block;
    padding-left: 4px;
}

ul{
    list-style-type: none;
    overflow: scroll;
}

::-webkit-scrollbar {
    display:none;
}