#signUp {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    /* text-color: #cc3300; */
    font-size: 80px;
    color: #ff7700;
    text-shadow: 2px 2px #cc3300;
}

#userEmail {
    position: absolute;
    margin-top: 200px;
    margin-left: 81px;
    font-weight: bold;
    font-size: 20px;
    color: #cc3300;
}

#userEmail #userEmailInput {
    position: absolute;
    margin-top: -1px;
    height: 22px;
    width: 280px;
    margin-left: 10px;
    border: 2px outset #ffad66;
    border-radius: 10px;
}

#userEmailRepeat {
    position: absolute;
    margin-top: 200px;
    margin-left: 544px;
    font-weight: bold;
    font-size: 20px;
    color: #cc3300;
}

#userEmailRepeat #userEmailRepeat {
    position: absolute;
    margin-top: -1px;
    height: 22px;
    width: 280px;
    margin-left: 10px;
    border: 2px outset #ffad66;
    border-radius: 10px;
}

#userPassword {
    position: absolute;
    margin-top: 240px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #cc3300;
}

#userPassword #userPasswordInput {
    position: absolute;
    margin-top: -1px;
    height: 22px;
    width: 280px;
    margin-left: 10px;
    border: 2px outset #ffad66;
    border-radius: 10px;
}

#userPasswordConfirm {
    position: absolute;
    margin-top: 240px;
    margin-left: 500px;
    font-weight: bold;
    font-size: 20px;
    color: #cc3300;
}

#userPasswordConfirm #userPasswordConfirm {
    position: absolute;
    margin-top: -1px;
    height: 22px;
    width: 280px;
    margin-left: 10px;
    border: 2px outset #ffad66;
    border-radius: 10px;
}

#signUpButton {
    position: absolute;
    margin-top: 380px;
    margin-left: 700px;
    background-color: #ffad66;
    height: 70px;
    width: 200px;
    border-radius: 15px 50px;
    border: 2px solid #d46844;
    font-size: 20px;
    color: #eb3b00;
    text-shadow: 1px 1px #a82b01;
}

#username {
    position: absolute;
    margin-top: 280px;
    margin-left: 46px;
    font-weight: bold;
    font-size: 20px;
    color: #cc3300;
}

#usernameInput {
    position: absolute;
    margin-top: -1px;
    height: 22px;
    width: 280px;
    margin-left: 10px;
    border: 2px outset #ffad66;
    border-radius: 10px;
}

#affiliation {
    position: absolute;
    margin-top: 320px;
    margin-left: 45px;
    font-weight: bold;
    font-size: 20px;
    color: #cc3300;
}

#affiliationInput {
    position: absolute;
    margin-top: -1px;
    height: 22px;
    width: 280px;
    margin-left: 10px;
    border: 2px outset #ffad66;
    border-radius: 10px;
}

body {
    background-image: url("../../resources/loginBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#logo {
    position: absolute;
    width: 280px;
    height: 150px;
    margin-top: 500px;
    margin-left: 1200px;
}