body,html{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

#frameStripe{
    background-color: gray;
    width: 40%;
    height: 100%;
}

.stripe{
    position: absolute;
    width: inherit;
    --lowerTrianglePoint: -webkit-calc(100% - 60px);
    clip-path: polygon(50% 100%, 100% var(--lowerTrianglePoint), 100% 0, 0 0, 0 var(--lowerTrianglePoint));
}

.clickableStripe{

}

.stripeText{
    position: absolute;
    bottom: 6%;
    left:10%;
    transform: rotate(14deg);
    font-family: DejaVu Sans Mono;
    color: beige;
    user-select: none;
}

.logoText{
    position: absolute;
    left: 50%;
    top:45%;
    transform: translate(-50%);
    font-family: DejaVu Sans Mono;
    color: #3D3D39;
    font-size: 20px;
    user-select: none;
}

input[type=text]{
    background-color: transparent;
    border-style: none;
    border-bottom: solid red 1px;
    left: 50%;
    transform: translate(-50%);
    /*
    position: absolute;
    width: 60%;
    height: 6%;
    */
    position: fixed;
    width: 28%;
    height: 6%;
}

input[type=text]:focus {
    outline:none;
}

img{
    position: fixed;
    left: 40%;
    transform: scale(0.5) translate(-50%);
    top: -15%;
    z-index: 300;
    user-select: none;
}

p{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: red;
    left: 50%;
    transform: translate(-50%);
}

#alertOuter{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    background-color: #8A8D91;
    border-style: solid;
    border-color: #C3BAAA;
    border-width: 1px;
    border-radius: 20px;
}

#alertBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 400;
    backdrop-filter: blur(5px);
    top:0%;
    left:0%;
}

.buttonDiv{
    position: absolute;
    /*clip-path: polygon(15% 0%, 100% 0, 85% 100%, 0% 100%);*/
    width: 200px;
    height: 18px;

    font-family: DejaVu Sans Mono;
    user-select: none;

    /*border: solid rgb(167, 0, 0) 1px;  this adds a border on the top and bottom and top of the div.*/
    transition-property: border-color; 
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px transparent;
}

.buttonDiv:hover{
    border-color: rgb(141, 238, 255);
}

#alertButtonYes{
    top:80%;
    left: 4%;
    background-color: #DDDFDF;
}

#alertButtonNo{
    top:80%;
    left:60%;
    background-color: #DDDFDF;
}

#alertMessage{
    top:30%;
    width: 70%;
    font-size: large;
    font-family: DejaVu Sans Mono;
    color: black;
}