.content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul{
    overflow: scroll;
    height: 100%;
}

html,body{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display:none;
}

#commentsDiv{
    position: absolute;
    left: 50%;
    transform: translateX(50);
    top: 50%;
    transform: translateY(50);
    height: 40%;
    width: 40%;
    background-color: aliceblue;
    display:none;
}

