html,body{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

img{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

ul{
    overflow: scroll;
    height: 100%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32%;
    padding-right: 32%;
}

li{
    text-align: center;
    list-style: none;
    margin-bottom: 2px;
}

li>div.title{
    background-color: transparent;
    color:white;
    font-family: DejaVu Sans Mono;
    border-bottom: solid red 1px;
}

li>div.content{
    background-color: #474848;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    border-bottom: solid red 1px;
}

iframe{
    height: 0px;
    width: 100%;
    border-style: none;
    overflow: hidden;
}

textarea{
    height: 0px;
    resize: none;
    border-style: none;
    width: 100%;
    opacity: 1;
}

div.buttons{
    position: absolute;
    top:94%;
    left:50%;
    transform: translateX(-50%);
}

textarea, iframe, li>div.content{
    transition-property: height, opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    display: block;
    padding:0;
}
select, button, label{
    transition-property: height, opacity;
    transition-delay: 0.2s;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    opacity: 0;
    height: 0px;
}

select, button{
    border: solid 1px #dddddd;
    background-color: #eeeeee;
    color: #212529;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

::-webkit-scrollbar {
    display:none;
}

#commentsDiv{
    position: absolute;
    left: 30%;
    top: 30%;
    height: 40%;
    width: 40%;
    background-color: rgb(165, 165, 165);
    border-width: 3px;
    border-color: rgb(138, 138, 138);
    border-style: solid;
    display:none;
    font-family: DejaVu Sans Mono;
}

.strip{
    height: 100%;
    background-color: #2E2F2F;
}

#backgroundSupport{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left:25%;
    z-index: -1;
    background-color: transparent;
}

#contentStrip{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    left:30%;
    z-index: -1;
    background-color: #212529;
}

#leftStrip{
    position: absolute;

    width: 5%;
    left: 0%;
    background-color: #343A40;
}

#rightStrip{
    position: absolute;

    width: 5%;
    left: 95%;
    background-color: #343A40;
}

#leftStrip1{
    position: absolute;

    width: 2.5%;
    left: -12%;
    background-color: #495057;
}

#rightStrip1{
    position: absolute;

    width: 2.5%;
    left: 107%;
    background-color: #495057;
}

label{
    color: black;
    font-family: DejaVu Sans Mono;
}

#userButtons{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0%;
    top: 90%;

    border-top: 2px solid white;
    border-spacing: 3px;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);

    width: 430px;
    height: 40px;

    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%);

    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monaco, monospace;
} 
#userButtons>*{
    border: none;
}
#username{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
#logout{
    position: absolute;
    left: 40%;
    width: 23%;
    top:50%;
    height: 100%;
    transform: translateY(-50%);
    clip-path: polygon(40% 0%, 0% 100%, 60% 100%, 100% 0%);
    background-color: orange;
    color:rgb(0, 0, 0);
    font-family: "Arial Black", Gadget, sans-serif;
}

#back{
    position: absolute;
    left:65%;
    top:50%;
    height: 100%;
    transform: translateY(-50%);
    width: 23%;
    clip-path: polygon(40% 0%, 0% 100%, 60% 100%, 100% 0%);
    background-color: orange;
    color:rgb(0, 0, 0);
    font-family: "Arial Black", Gadget, sans-serif;
}