.ribbonButton{
    position: relative;
    height: 40px;
    width: 300px;

    background-color: rgb(83, 83, 255);
    
    text-align: center;
    color: whitesmoke;
    font-family: "Arial Black", Gadget, sans-serif;
    /* transition: background-color 0.2s ease; */
}
.ribbonButton::after{
    position: absolute;
    content: '';
    background-color: rgb(65, 65, 196);
    height: 40px;
    width: 70px;

    left: 90%;
    top:20%;

    clip-path: polygon(0% 80%, 0% 100%, 40% 80%);
    /* transition: background-color 0.2s ease; */
}

.ribbonButton::before{
    position: absolute;
    content: '';
    background-color: rgb(86, 86, 207);
    height: 40px;
    width: 70px;

    left: 90%;
    top:20%;

    clip-path: polygon(0% 80%, 0% 100%, 100% 100%, 70% 50%, 100% 0%, 41% 0%, 41% 80%);
    
    /* transition: background-color 0.2s ease; */
}

.ribbonButton:hover{
    background-color: rgb(112, 112, 253);
}

.ribbonButton:hover::after{
    background-color: rgb(71, 71, 196);
}

.ribbonButton:hover::before{
    background-color: rgb(102, 102, 202);
}

.columnDisplay{
    display: flex;
    flex-direction: column;
}

.columnDisplay>*{
    margin-top: 30px;    
}

#userButtons{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0%;
    top: 90%;

    border-top: 2px solid white;
    border-spacing: 3px;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);

    width: 430px;
    height: 40px;

    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%);

    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monaco, monospace;
} 
#userButtons>*{
    border: none;
}
#username{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
#logout{
    position: absolute;
    left: 40%;
    width: 23%;
    top:50%;
    height: 100%;
    transform: translateY(-50%);
    clip-path: polygon(40% 0%, 0% 100%, 60% 100%, 100% 0%);
    background-color: orange;
    color:rgb(0, 0, 0);
    font-family: "Arial Black", Gadget, sans-serif;
}

#back{
    position: absolute;
    left:65%;
    top:50%;
    height: 100%;
    transform: translateY(-50%);
    width: 23%;
    clip-path: polygon(40% 0%, 0% 100%, 60% 100%, 100% 0%);
    background-color: orange;
    color:rgb(0, 0, 0);
    font-family: "Arial Black", Gadget, sans-serif;
}

